<h1>{{course.title}}</h1>
<h4>{{course.fullDescription}}</h4>


{{#if course.lessons.length}}
<ul class="collection with-header">
  {{#each course.lessons}}
  <li class="collection-header"><h5>{{course.description}}</h5></li>
  <li class="collection-item"><div><b>{{title}}</b> <br> {{shortDescription}} <a href="#!" class="secondary-content"><i class="material-icons">send</i></a></div></li>
  {{/each}}
</ul>
{{else}}
  <p>Пока не создано ни одного урока...</p>
{{/if}}

<a class="btn" href="/courses/{{course._id}}/edit">Редактировать курс</a>
