<h1>Редактировать курс "{{course.title}}"</h1>
<h4>{{course._id}}</h4>


<form id="editCoursePut">
  <div class="input-field">
    <input id="title" name="title" type="text" class="validate" required>
    <label for="title">{{course.title}}</label>
    <span class="helper-text" data-error="Введите название курса"></span>
  </div>

  <div class="input-field">
    <input id="img" name="img" type="text" class="validate" required>
    <label for="img">{{course.img}}</label>
    <span class="helper-text" data-error="Введите ссылку на картинку"></span>
  </div>

  <div class="input-field" id="shortDescription">
    <input id="shortDescription" name="shortDescription" type="text" class="validate" required>
    <label for="shortDescription">{{course.shortDescription}}</label>
    <span class="helper-text" data-error="Введите краткое описание"></span>
  </div>

  <div class="input-field">
    <input id="fullDescription" name="fullDescription" type="text" class="validate" required>
    <label for="fullDescription">{{course.fullDescription}}</label>
    <span class="helper-text" data-error="Введите полное описание"></span>
  </div>
  <input type="hidden" name="id" value="{{course._id}}">
  <button type="submit" class="btn">Изменить</button>
</form>
  
<h6>&nbsp;</h6>
<form id="editCourseDelete">
  <input type="hidden" name="id" value="{{courseId}}">
  <button type="submit" class="btn red darken-1">Удалить курс</button>
</form>
<h6>&nbsp;</h6>

<h5>Уроки</h5>
{{#if course.lessons.length}}
  <table>
    <thead>
      <th>Название</th>
      <th>Описание</th>
      <th>Ссылка</th>
    </thead>
    <tbody>
      {{#each course.lessons}}
        <tr>
          <td>{{title}}</td>
          <td>{{shortDescription}}</td>
          <td><a class="btn" href="/courses/{{@root.course._id}}/lessons/{{_id}}/edit">Редактировать</a></td>
        </tr>
      {{/each}}
    </tbody>
  </table>
{{else}}
  <p>Пока не создано ни одного урока...</p>
{{/if}}

<h6>&nbsp;</h6>
<a class="btn" href="/courses/{{course._id}}/edit/lessons/create">Создать новый урок</a>
<h6>&nbsp;</h6>
