<h1>Home</h1>

<div class="row">
  <div class="input-field">
    <input value="{{fullName}}" id="name" type="text" >
    <label for="name">Name</label>
  </div>
  <p>&nbsp;</p>
  <div class="input-field">
    <input value="{{email}}" id="e-mail" type="text" >
    <label for="e-mail">E-mail</label>
  </div>
  <p>&nbsp;</p>
  <div class="input-field">
    <input value="{{balance}} ETH" id="balance" type="text" >
    <label for="balance">Balance</label>
  </div>
  <p>&nbsp;</p>
  <div class="input-field">
    <input value="{{publicKey}}" id="publicKey" type="text" >
    <label for="publicKey">Public-key</label>
  </div>
  <p>&nbsp;</p>
  <div class="input-field">
    <input value="{{privateKey}}" id="privateKey" type="text" >
    <label for="privateKey">Private-key</label>
  </div>
  <a class="btn" href="/home/edit">Edit profile</a>
</div>

